{
    "singleQuote": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "semi": false,
    "jsxBracketSameLine": false
}